name: ghost_logger_example
description: Example app demonstrating ghost_logger usage
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  ghost_logger:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints:
